.product {
    display: flex;
    background-color:aliceblue;
    margin: 5%;
}
h1 {
    margin: 30px;
    margin-left: 70px;
}
.link {
    text-decoration: "none";
    text-transform: "capitalize";
    color: black;
}
.product__info {
    padding: 100px;
}

:hover.link {
    color:white
}
.price {
    margin-bottom: 30px;
    font-size:xx-large;
    font-weight: bold;
}
.category {
    margin-bottom: 30px;
}
p {
    font-size:x-large;
}